<h2>Estimado <%= @user.name %>,</h2>
<p>Agradecemos su confianza en nuestra empresa, es muy importante para nosotros que se sienta satisfecho con los productos que requiere. </p>
<p>En consecuencia de ello, encontrará adjunto a este correo electrónico dos archivos en formato PDF:</p>
<ul>
	<li>Cotización detallada de los productos solicitados</li>
	<li>Vista previa en 3D, donde podrá apreciar las características que solicitó en nuestra aplicación web. En orden de visualizar correctamente este archivo, debe contar con Adobe Reader instalado en su computador, seleccionar "Confiar siempre en este documento" en la barra superior de opciones y luego, hacer click en el botón "?" para habilitar el contenido 3D.</li>
</ul>
<p>Cordialmente</p>
<p>Computación Gráfica 2018-II</p>